.main{
    display: flex;
    flex-direction: column;
}

.main__title{
    margin: 0;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    /* or 129% */
    text-align: left;
    letter-spacing: 1.2px;
    max-width: 700px;
    background-size: 200% 200%;
    background: linear-gradient(90deg, #ADD0F5 0%, #BEDFDB 13.4%, #D6F583 25.88%, #DFFDA6 38.51%, #F0E6B0 51.15%, #FECBBD 64.92%, #EFC0D7 77.72%, #DFB5F3 89.22%, #C1BCFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-fill-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-animation: AnimateBG .6s ease-in-out infinite;
    animation: AnimateBG .6s ease-in-out infinite;
}
.main__button{
    margin-top: 200px;
    height: 50px;
    background-color: #535bf2;
}
.main__button:active{
    transform: scale(0.9);
}
.main_deactivated{
    display: none;
}
@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

@keyframes AnimateLaptop {
    0% {
        transform: scale(-1, 1) translateY(0);
    }
    50% {
        transform: scale(-1, 1) translateY(10px);
    }
    100% {
        transform: scale(-1, 1) translateY(0);
    }
}
@keyframes AnimateOpen {
    0% {
        transform: skew( 114deg, -133deg) rotate(76.25deg) scale(0) ;
    }

    100% {
        transform: skew( 114deg, -133deg) rotate(76.25deg) scale(1) ;
    }
}